<%- include('../layouts/header') %>

  
 

        <main class="main">


            <div class="login-page bg-image pt-100 pb-100" style="background-color: rgb(255, 255, 255); " >
            	<div class="container"  style="border: 1px solid black;">
            		<div class="form-box">
            			<div class="form-tab">
							   <div class="nav-item pt-20" style="display: flex; justify-content: center;">
								<h3 style="color: rgb(0, 0, 0);">CHANGE PASSWORD</h3>
							   </div>
                                    
							 <hr>
			
							
							
							<div class="tab-content mt-3">
							    <div aria-labelledby="signin-tab-2">
							    	<form action="/userResetpassword" method="post">
                                        <div class="form-group">
											<label for="singin-email-2">Enter password</label>
											<input type="password"  class="form-control" name="password">
											<div id="password-error" class="validation-error"></div>
										</div>
										<div class="form-group">
											<label for="singin-email-2">Re-enter password</label>
											<input type="password" class="form-control" name="confirmPassword">
											<div id="confirmPassword-error" class="validation-error"></div>
										</div>										

<hr>
							
                                        <div id="invalid" style="height: 30px;">
                                            <% if (typeof message !== 'undefined' && message) { %>
                                                <p style="color: red;" id="message"><%= message %></p>
                                            <% } %>
                                        </div>

							    		<div class="form-footer pb-20" style="display: flex; justify-content: center;">
							    			<button type="submit" class="btn btn-outline-primary-2">
			                					<span>change password</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>

			                	
							    		</div><!-- End .form-footer -->
							    	</form>
					
							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->

  
    </div><!-- End .page-wrapper -->



    <style>
        
input::file-selector-button {

  color: rgb(37, 139, 255);
  border: solid rgb(37, 139, 255) 1px;
  background-color: white;
 


}

    </style>

<script>
	document.addEventListener('DOMContentLoaded', function () {
    var form = document.querySelector('form');

    form.addEventListener('submit', function (event) {
        var password = form.querySelector('[name="password"]').value.trim();
        var confirmPassword = form.querySelector('[name="confirmPassword"]').value.trim();

        clearValidationMessages();

        if (password === '') {
            displayValidationError('password', 'Password is required');
            event.preventDefault();
        } else if (password.length < 8) {
            displayValidationError('password', 'Password should be at least 8 characters');
            event.preventDefault();
        } else if (!isStrongPassword(password)) {
            displayValidationError('password', 'Password should include at least one uppercase letter, one lowercase letter, one digit, and one special character');
            event.preventDefault();
        }

        if (confirmPassword === '') {
            displayValidationError('confirmPassword', 'Confirm Password is required');
            event.preventDefault();
        } else if (password !== confirmPassword) {
            displayValidationError('confirmPassword', 'Passwords do not match');
            event.preventDefault();
        }
    });

    // Add event listeners for the input event on each input field
    form.querySelectorAll('input').forEach(function (input) {
        input.addEventListener('input', function () {
            clearValidationMessages();
        });
    });

    function displayValidationError(field, message) {
        var errorElement = document.getElementById(field + '-error');
        errorElement.textContent = message;
        errorElement.style.color = 'red';
    }

    function clearValidationMessages() {
        var validationErrorElements = document.querySelectorAll('.validation-error');
        validationErrorElements.forEach(function (element) {
            element.textContent = '';
        });
    }

    function isStrongPassword(str) {
        // Password should include at least one uppercase letter, one lowercase letter, one digit, and one special character
        var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]+$/;
        return regex.test(str);
    }
});
  </script>
  
  

  
  


<%- include('../layouts/footer') %>